body {
  background: radial-gradient(circle at 0.2% 1.8%, rgb(88, 0, 0) 0%, rgb(255, 90, 8) 100.2%);
  color: rgb(250, 248, 246);
  min-width: 320px;
}

.contenedor {
  font-size: 1vw;
}

.image-container img {
  border: 2px solid black; 
}

.text-muted{
  color:black !important;
}

.form-check-label{
  color: black;
}

.form-control {
  background-color: rgb(60, 91, 105);
  border-block-style: unset;
  color: black;
  font-size: 1.3vw;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.form-check-label {
  margin-left: 10px;
}

.btn-primary {
  background-color: black;
  font-size: 1.3vw;
}

input:invalid {
  border: 2px solid red;
}

input:invalid::after {
  content: attr(data-error-message);
  color: red;
  font-size: 1.5em;
}

/**************************************************************** CELULARES *******************************************************************/
@media only screen and (max-width: 650px) {
  .titulo {
    padding-top: 20px;
    padding-left: 20px !important;
    color: gold;
    font-size: 3vw;
    overflow: hidden;
  }

  
  .contenedor {
    flex-grow: 1;
    gap: 20px; 
    padding: 20px;
    font-size: 3vw;
  }

 
  form {
    max-width: 100%; 
  }

  .form-control {
    background-color: rgb(60, 91, 105);
    border-block-style: unset;
    color: black;
    font-size: 3vw;
  }


  .image-container {
    text-align: center; 
  }

  .image-container img {
    max-width: 100%; 
    max-height: 100%; 
    background: radial-gradient(circle at 0.2% 1.8%, rgb(255, 90, 8) 0%, rgb(88, 0, 0) 100.2%);
  }

  .botonera {
    margin-left: 30px;
    padding: 5px;
  }

  .btn-primary {
    background-color: black;
    font-size: 3vw;
    padding: 10px;
    margin-left: 20px;
  }
}

.contenedor {
  grid-column: 1 / -1;
}

.contenedor {
  grid-column: 5 / 6;
}

/******************************************************** TABLETS **************************************************************************/
@media only screen and (min-width: 651px) and (max-width: 850px) {
  .titulo {
    padding-top: 20px !important;
    padding-left: 20px !important;
    color: gold;
  }


  .contenedor {
    gap: 20px; 
    padding: 20px;
    font-size: 3vw;
  }

  .form-control {
    background-color: rgb(60, 91, 105);
    border-block-style: unset;
    color: black;
    font-size: 3vw;
  }

  
  form {
    max-width: 100%; 
  }


  .image-container {
    text-align: center; /
  }

  .image-container img {
    max-width: 100%; 
    max-height: 100%; 
  }

  .botonera {
    display: inline-flex;
    flex-direction: row;
    padding-left: 150px;
    gap: 50px;
  }

  .btn-primary {
    background-color: black;
    font-size: 3vw;
    padding: 10px;
    margin-left: 20px;
  }
}

/******************************************************** NOTEBOOKS *************************************************************************/
@media only screen and (min-width: 851px) {
  .titulo {
    padding-top: 20px !important;
    padding-left: 20px !important;
    color: gold;
    font-size: 3vw;
  }

  
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
  }


  form {
    font-size: larger;
    max-width: 100%; 
  }

  .form-control {
    font-size: 1.5vw; 
  }

 
  .image-container {
    text-align: center; 
  }

  .image-container img {
    max-width: 100%; 
    max-height: 100%; 
  }

  .image-container {
    display: block;
    width: 100%;
    margin-top: 5px;
  }

  .botonera {
    display: inline-flex;
    flex-direction: row;
    padding-left: 170px;
    gap: 50px;
  }

  .btn-primary {
    background-color: black;
    font-size: 1.5vw;
    padding: 10px;
    margin-left: 20px;
  }
}
