body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}


.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style:preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
} 
/*******************************************************************************************************************/
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 10px; 
}

.carousel-caption .sedgwick-ave-display-regular {
  color:gold;
  font-size: 4vw;
}

.carousel-caption span {
  color: #fff; 
}

.carousel-caption .sedgwick-ave-display-regular,
.carousel-caption .kalam-bold,
.carousel-caption .kalam-regular {
  display: block;
  margin: 1px 0; 
}

/************************************************************************************************************************/

body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at 10% 20%, rgb(250, 44, 44) 0%, rgb(136, 1, 1) 90%);
}

.carousel-inner img {
  width: 100%;
  height: 50vw;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.contenedor img {
  margin-right: 20px;
  margin-left: 100px;
  max-width: 60%;
  margin-bottom: 5px;
}

.contenedor p {
  margin-top: 20px;
  max-width: 60%;
  color: white;
  font-size: 1.6vw;
  text-align: justify;
}

main {
  flex-grow: 1;
}

.contenedor > .sidebar {
  grid-column: span 2;
  grid-row: span 4;
  background: rgb(250, 247, 248);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor > .sidebar img {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.nuevaSucursal {
  font-family: 'kalam-bold';
  font-size: 3vw;
  text-align: center;
  color: rgb(255, 230, 7);
}

.carousel-item {
  font-size: 2vw;
}


/******************************************** Para teléfonos móviles ****************************************/
@media (max-width: 650px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contenedor img {
    max-width: 100%;
    margin: 0;
  }

  .contenedor p {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 10px;  
    max-width: 100%;
    font-size: 4vw;
    margin-left: 10px;
    margin-right: 10px;
  }
  .kalam-bold {
    font-size: 3.5;
  }
}

/************************************************** Para tablets ********************************************/
@media (min-width: 651px) and (max-width: 850px) {
  .kalam-bold {
    font-size: 3vw;
  }

  .mapa {
    width: 100%;
  }

  .related-post {
    height: 120px;
    font-size: 16px; 
    align-items: center !important;
  }
  .contenedor img {
    margin-right: 20px;
    margin-left: 10px;
    max-width: 51%;
    margin-bottom: 5px;
  }
  .contenedor p {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px; 
    border-radius: 10px; 
    margin-right: 10px;
    margin-top: 5px;
    max-width: 60%;
    color: white;
    font-size: 2.4vw;
    text-align: justify;
  }
}

/************************************************* Para Notebooks *******************************************/
@media (min-width: 851px) {
  .kalam-bold {
    font-size: 3vw;
  }
  .mapa {
    width: 100%;
  }
  .contenedor img {
    max-width: 100%;
    margin: 0;
  }

  .contenedor p {
    background-color: rgba(8, 8, 8, 0.5); 
    padding: 10px; 
    border-radius: 10px;  
    max-width: 100%;
    font-size: 2.4vw;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -4px;
    padding-bottom: 26px;
  }
}

